img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.jumbotron{
    max-width: 1250px;
    max-height: 1250px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container-lg{
    max-width: 1250px;
    max-height: 1250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.lead   {
    margin-left: 30px;
}

.date{
    text-align: center;
    margin-bottom: 70px;
    margin-top: 70px;
}

.radio{
    margin-left: 50%;
}

.dropdown {
    margin-top: 100px;
    display:flex;
    padding: 50px;
    border: 1px solid black;
    max-width: 500px;
    margin-left: 33%;
}

.dropleft{
    margin-left: 6%;
}

.dropright{
    margin-left: 25%;

}

.knap{
    padding: 25px;
    margin-top: 10px;
    margin-left: 70%;
}